In [2]:
from sklearn import svm, datasets

In [3]:
import pandas as pd

df = pd.read_csv('df.csv')
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,salary_k,salary_more_than_100k
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,2,70.0,0
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,0,260.0,1
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,1,GB,1,85.0,0
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,0,20.0,0
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,1,US,2,150.0,1

In [4]:
target = df['remote_ratio']

In [9]:
#Preparing training data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df[["salary_k"]], target, test_size = 0.3)
X_train.shape, y_train.shape, X_test.shape

((424, 1), (424,), (183, 1))

In [10]:
model = svm.SVC(kernel = 'rbf', C = 30, gamma = 'auto')
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.5956284153005464

In [11]:
from sklearn.model_selection import cross_val_score

In [ ]:
cross_val_score(svm.SVC(kernel = 'linear', C=10, gamma='auto'), df[["salary_k"]], target,