In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('df.csv')
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,salary_k,salary_more_than_100k
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,2,70.0,0
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,0,260.0,1
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,1,GB,1,85.0,0
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,0,20.0,0
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,1,US,2,150.0,1

In [ ]:
# Number type variable

In [21]:
df.drop(['job_title', 'salary', 'salary_currency', 'salary_in_usd', 'salary_k', 'work_year', 'company_location', 'employment_type', 'employee_residence', 'experience_level'], axis = 1, inplace = True)

In [23]:
target = df.salary_more_than_100k
inputs = df.drop('salary_more_than_100k', axis = 'columns')

In [24]:
#Split your data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.2)

In [25]:
len(X_train), len(X_test)

(485, 122)

In [26]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [27]:
model.fit(X_train, y_train)

GaussianNB()

In [28]:
model.score(X_test, y_test)

0.6147540983606558